<h1> Cursos de Pós Graduação <i>Lato Sensu</i> </h1>
<ul>
  <li>Análise Ambiental</li>
  <li>Epidemiologia Geral e Clínica</li>
  <li>Geografia Médica</li>
  <li>Saúde Pública</li>
  <li>Saúde do Trabalhador</li>
  <li>Gestão Ambiental</li>
  <li>Perícia Ambiental</li>
  <li>Geoprocessamento e Georreferenciamento</li>
  <li>Georreferenciamento de imóveis rurais</li>
  <li>Engenharia de Segurança do Trabalho</li>
  <li>Engenharia e Tecnologia Ambiental</li>
</ul>

<h1>Cursos de Capacitação e Treinamento</h1>
<ul>
  <li>Primeiros Socorros</li>
  <li>Humanização no Serviço de Saúde</li>
</ul>

<h1>Cursos de Formação Continuada</h1>
<ul>
  <li>Matemática</li>
  <li>Língua Portuguesa</li>
  <li>Geografia</li>
  <li>História</li>
  <li>Ciências</li>
  <li>Educação Física</li>
  <li>Língua Espanhola</li>
  <li>Séries Iniciais</li>
</ul>
