/**
  --xs-min: 30;
  --sm-min: 48;
  --md-min: 64;
  --lg-min: 75;
 */
:host, mv-menu {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  transform: translateX(-100%);
}

.mv-menu {
  position: relative;
  display: flex;
  flex: 1;
  z-index: -1;
  transition: all 300ms ease;

  h2 {
    font-family: "Lora";
  }

  &__link {
    text-decoration: none;
    color: #193441;
  }

  &__content {
    padding: 1rem;
    min-width: 80%;
    color: #fcfff5;
    background-color: #193441;
    transition: all 300ms ease;
    transform: translateX(-100%);
  }

  &__backdrop {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(#000,.3);
    opacity: 0;
    transition: opacity 300ms ease;
  }
  @media screen and (min-width: 64em) {
    &__content {
      min-width: 30%;
      // max-width: 18em;
    }
  }
  @media screen and (min-width: 75em) {
    &__content {
      min-width: 20%;
      // max-width: 18em;
    }
  }
}
/**
 * Animation
 */
:host(.mv-menu--open),
mv-menu.mv-menu--open {
  transform: translateX(0);
  z-index: 1000;

  .mv-menu__content {
    transform: translateX(0);
  }

  .mv-menu__backdrop {
    opacity: 1;
  }
}

:host,
mv-menu {
  @media screen and (min-width: 64em) {
    position: relative;
    transform: translateX(0);

    .mv-menu__content {
      width: 100%;
      transform: translateX(0);
    }
  }
}
