<h1>Sua opinião é muito preciosa</h1>
<form #formContact class="form row">
  <div class="col-xs-12 col-md-6 col-md-offset-1">

    <!-- Nome -->
    <label class="form-control">
      <span class="form-label"><i class="fa fa-user"></i> Nome:</span>
      <span class="form-input">
        <input type="text" name="name" value="" placeholder="Nome">
      </span>
    </label>
    <!-- /Nome -->

    <!-- E-mail -->
    <label class="form-control">
      <span class="form-label"><i class="fa fa-envelope"></i> E-mail</span>
      <span class="form-input">
        <input type="text" name="name" value="" placeholder="E-mail">
      </span>
    </label>
    <!-- /E-mail -->

    <!-- Telefone -->
    <label class="form-control">
      <span class="form-label"><i class="fa fa-phone"></i> Telefone</span>
      <span class="form-input">
        <input type="text" name="name" value="" placeholder="Telefone">
      </span>
    </label>
    <!-- /Telefone -->

    <!-- Mensagem -->
    <label class="form-control">
      <span class="form-label"><i class="fa fa-align-justify"></i> Mensagem</span>
      <span class="form-input">
        <textarea name="name" placeholder="Mensagem"></textarea>
      </span>
    </label>
    <!-- /Mensagem -->

    <input class="form-button" type="submit" value="Enviar">
  </div>
  <div class="col-xs-12 col-md-4">

  </div>
</form>
