<footer id="mainFooter" class="mv-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs">
        <!-- <img class="mv-footer__logo" src="/assets/img/aicsa_logo.svg" alt="" /> -->
        <p>Associação Instituto Superior de Ciências da Saúde e Ambiente da Amazônia</p>
        <p>Rua Tabajara, 1941. Sala 03. Bairro São João Bosco. CEP 76.803-738. Porto Velho/Rondônia</p>
        <p>+55 (69) 3224-3153 & (69) 9 8426-4040</p>
        <p>diretoria@aicsa.org.br</p>
        <p>© Todos os direitos reservados . Termos e condições</p>
      </div>
    </div>
  </div>
</footer>
