:host {
  display: block;
}

.mv-footer {
  padding: 4rem 0;
  color: #193441;
  text-align: center;
  // background-color: rgba(#fcfff5, .9); 

  p {
    margin: 0;
    line-height: 1.5rem;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  &__logo {
    max-height: 7.5rem;
  }

  &__nav {
    margin-bottom: 2rem;
    color: #193441;
  }
  &__title {
    margin: 0 0 1rem 0;
    font-weight: 300;
    color: #193441;
  }
  &__list {
    margin: 0;
    padding: 0;
  }
  &__item {
    list-style: none;
  }
  &__link {

  }
}
