<h1>Carlos Alberto Paraguassu Chaves</h1>
<div class="row">
  <div class="col-md-8">
    <p>
      Doutor em Ciências da Saúde (Geografia Médica) - Universidad de La Habana - Cuba (Centro de Estudo de Salud y Bienestar Humanos), Diplomado pelo Instituto Superior de Ciencias Médicas, com revalidação nacional pela Universidade de Brasília - UnB. Pós-Doutorado
      - Instituto de Neurociências e Comportamento - UnB/Universita' Degli Studi Di L'Aquila.
    </p>
    <p> Publicou 19 livros, entre eles:</p>
    <ul>
      <li>Geografia Médica ou da Saúde: Espaço e Doença na Amazônia Ocidental.</li>
      <li>Sanologia: Nova Concepção de Saúde do Ser Humano;</li>
      <li>Saúde e Comportamento Humano;</li>
      <li>Ciências da Saúde na Amazônia: Uma Experiência Interdisciplinar;</li>
      <li>Trajetória à imortalidade na Academia Maçônica de Letras de Rondônia.</li>
      <li>Passagem Zoroástrica</li>
      <li>Perfil Epidemiológico do Câncer em Rondônia</li>
    </ul>
    <p>Professor Associado da Universidade Federal de Rondônia. Tem experiência na área de Saúde Coletiva, com ênfase em Geografia Médica, atuando principalmente nos seguintes temas: geografia médica, análise ambiental, geografia da saúde, ambiente e saúde,
      educação-saúde e comportamento humano, epidemiologia, vigilância epidemiológica, ambiental e sanitária e, desenvolvimento regional.</p>
    <p>Foi Professor e Orientador nos Programas de Pós-Graduação - Mestrado em Geografia e Mestrado em Desenvolvimento Regional e Meio Ambiente.
      Foi Coordenador Interino do Mestrado em Desenvolvimento Regional e Meio Ambiente.
      Coordenador do Convênio UNESP/UNIR - Mestrado e Doutorado em Geociências e Meio Ambiente.</p>
    <p>
      Desenvolveu atividades técnicas no:
    </p>
    <ul>
      <li>Intituto Brasileiro de Desenvolvimento Florestal - IBDF</li>
      <li>Instituto Estatual de Florestas de Rondônia - IEF</li>
      <li>Instituto de Terras de Rondônia - ITERON</li>
      <li>Fundação Instituto de Meio Ambiente de Porto Velho - FIMA</li>
      <li>Conselho Especial de Meio Ambiente de Rondônia - CONSEMA</li>
      <li>SONDONTÉCNICA Engenharia de Solos</li>
    </ul>
    <p>
      Fundador da AICSA (Associação Instituto Superior de Ciências da Saúde e Ambiente da Amazônia)
    </p>
  </div>
  <div class="col-md-4 text-center">
    <img class="avatar avatar--circle" src="/assets/img/avatar/paraguassu.jpg" alt="Dr. Carlos Alberto Paraguassu Chaves" />
    <a class="button" target="_blank" href="http://lattes.cnpq.br/2978339514056200">Currículo Lattes</a>
  </div>
</div>
