/**
  --xs-min: 30;
  --sm-min: 48;
  --md-min: 64;
  --lg-min: 75;
 */
:host {
  @media screen and (min-width: 64em) {
    display: none;
  }
}
.mv-menu-switch {
  &__button {
    border: 0;
    padding: 0;
    color: inherit;
    background-color: transparent;
    outline: none;
  }
  &__status {
    color: inherit;
  }
}
