<header id="pageHeader" class="mv-header"
  [ngClass]="getHeaderClass()"
  [ngStyle]="getHeaderStyle()">
  <div class="mv-header__filter" *ngIf="filter"></div>
  <div class="mv-header__bar container">
    <div class="row">
      <div class="col-xs mv-header__layout_menu">
        <mv-menu-switch></mv-menu-switch>
      </div>
      <div class="col-xs col-md-3 mv-header__layout_logo">
        <img class="col-xs mv-header__logo" src="/assets/img/aicsa_logo.svg" alt="" />
      </div>
      <div class="col-xs mv-header__layout_tool">
          <!-- @todo Adicionar o Texto Instituto AICSA-->
      </div>
    </div>
  </div>
  <div class="mv-header__content" *ngIf="hasContent()">
    <ng-content></ng-content>
    <h1 class="mv-header__title">{{title}}</h1>
    <h2 class="mv-header__subtitle">{{subtitle}}</h2>
    <button class="mv-header__button">{{button}}</button>
  </div>
</header>
