:host {
  display: block;
}
.mv-header {
  position: relative;
  min-height: 9rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  color: #193441;
  // background-color: rgba(#fcfff5, .9);
  // background-repeat: no-repeat;
  // background-position: bottom center;
  // background-size: cover;
  // background-attachment: fixed;
  background-color: transparent;

  &--with-image {
    min-height: 38rem;
  }

  &--no-logo &__layout_logo {
    display:none;
  }

  &__filter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#3e606f,.8);
  }

  &__content {
    display: flex;
    position: relative;
    max-width: 25rem;
    line-height: 1.2em;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    color: inherit;;
    background-color: transparent;
  }
  &__title {
    margin: 0 0 1em 0;
    padding: 0;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  &__subtitle {
    margin: 0 0 1em 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 300;
  }
  &__button {
    display: inline-block;
    padding: 0 1rem;
    line-height: 3rem;
    font-size: 1rem;
    border: 0;
    border-radius: 1.5rem;
    background-color: #91aa9d;
  }

  &__bar {
    margin: 0;
    padding: 0;
    height: 5rem;
    line-height: 5rem;
    font-size: 1.5rem;
    color: #193441;
    z-index: 100;
  }
  &__tools {
    margin: 0;
  }
  &__tool {
    padding: 0.5rem 0.25rem;
    display: inline;
    list-style: none;
    color: inherit;

    &-link {
      text-decoration: none;
      color: inherit;
    }
    &-icon {
      color: inherit;
    }
  }
  &__logo {
    max-height: 7.5rem;
  }

  /**
   * Layout
   */
  &__layout {
    line-height: 1.5rem;
    &_menu {
    }
    &_logo {
      text-align: center;
    }
    &_tool {
      text-align: right;
    }
  }
}

/**
  --xs-min: 30;
  --sm-min: 48;
  --md-min: 64;
  --lg-min: 75;
 */
.mv-header  {
  @media screen and (min-width: 64em) {
    &__layout {
      &_logo {
        order: -1;
      }
    }
  }
}
