.mv-menu {
  &__title {
    color: inherit;
    font-family: "Lora";
  }

  &__item {
    list-style: none;
  }

  &__link {
    font-size: 1.5em;
    line-height: 1.2em;
    text-decoration: none;
    color: inherit;
  }

  &--active {
    color: #ffcc00;
    list-style: disc;
  }
}
