<mv-header></mv-header>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <mv-menu>
        <h2 class="mv-menu__title">AICSA</h2>
        <ul>
          <li class="mv-menu__item" routerLinkActive="mv-menu--active">
            <a class="mv-menu__link" routerLink="/home">Início</a>
          </li>
          <li class="mv-menu__item" routerLinkActive="mv-menu--active">
            <a class="mv-menu__link" routerLink="contato">Contato</a>
          </li>
          <li class="mv-menu__item" routerLinkActive="mv-menu--active">
            <a class="mv-menu__link" routerLink="cursos">Cursos</a>
          </li>
          <li class="mv-menu__item" routerLinkActive="mv-menu--active">
            <a class="mv-menu__link">Entrevistas</a>
          </li>
          <li class="mv-menu__item" routerLinkActive="mv-menu--active">
            <a class="mv-menu__link">Eventos</a>
          </li>
          <li class="mv-menu__item" routerLinkActive="mv-menu--active">
            <a class="mv-menu__link">Projetos</a>
          </li>
          <li class="mv-menu__item" routerLinkActive="mv-menu--active">
            <a class="mv-menu__link">Revistas</a>
          </li>
          <li class="mv-menu__item" routerLinkActive="mv-menu--active">
            <a class="mv-menu__link">Revista AICSA</a>
          </li>
        </ul>
        <h2 class="mv-menu__title">Carlos Paraguassu</h2>
        <ul>
          <li class="mv-menu__item" routerLinkActive="mv-menu--active">
            <a class="mv-menu__link" routerLink="me">Sobre</a>
          </li>
        </ul>
        <h2 class="mv-menu__title">Ferramentas</h2>
        <ul>
          <li class="mv-menu__item">
            <a class="mv-menu__link" target="_blank" href="http://webmail.aicsa.org.br">Webmail</a>
          </li>
        </ul>
      </mv-menu>
    </div>
    <div class="col-xs-12 col-md-9 app-route">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<mv-footer></mv-footer>
