/* You can add global styles to this file, and also import other style files */
/**
 * Default Fonts
 * font-family: 'Lora', sans-serif;
 * font-family: 'Open Sans', sans-serif;
 */
@import url( 'https://fonts.googleapis.com/css?family=Open+Sans|Lora');

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, Helvetica, sans;
  font-size: 16px;
  line-height: 1.2em;
  background-color: #fcfff5;
  background-image: url('/assets/img/pattern/sayagata.png');
  // background-position: top center;
  // background-repeat: no-repeat;
  // background-size: cover;
}

.app-content {
  color: #fcfff5;
  background-color: rgba(#193441, .9);
}

.app-section {
  color: #193441;
  background-color: rgba(#fcfff5, .9);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #193441;
  font-family: "Lora", Arial, Helvetica, sans;
}

/**
 * Avatar
 */
.avatar{
  width: 100%;
}
.avatar--circle {
  border-radius: 50%;
}

/**
 * Text
 */
.text-center {
  text-align: center;
}
/**
 * Form
 */
.form {
  padding: 2rem 0;
}

.form-control {
  display: flex;
  flex-flow: column;
}

.form-label {
  display: flex;
  line-height: 2rem;
  color: #193441;
}

.form-label .fa {
  line-height: inherit;
  padding-right: 0.5rem;
}

.form-input {
  margin: 0 0 1rem;
  display: block;
  width: 100%;
  line-height: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: #fcfff5;
}

.form-input input {
  margin: 0 0.5rem;
  display: block;
  line-height: 2rem;
}

.form-input textarea {
  margin: 0 0.5rem;
  display: block;
  line-height: 2rem;
  min-height: 10rem;
  resize: none;
}

.form-input input,
.form-input textarea {
  background-color: transparent;
  outline: none;
  border: none;

  &:focus {
    outline: none;
  }
}

.form-button {
  display: inline-block;
  padding: 0 2rem;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fcfff5;
  background-color: #193441;
  border: none;
  border-radius: 1rem;
  outline: none;
}

/**
 * Link
 */
.button {
  text-decoration: none;
  display: inline-block;
  padding: 0 2rem;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fcfff5;
  background-color: #193441;
  border: none;
  border-radius: 1rem;
  outline: none;
}
