.home-banner {
  display: block;
  position: relative;
  min-height: 32rem;
  padding: 2rem;
  font-family: "Lora";
  font-size: 1.5rem;
  text-align: center;
  color: #fcfff5;
  background-position: top center;
  background-image: url('/assets/img/features/home_books.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#3e606f, .9);
    z-index: 1;
  }

  &__content {
    position: relative;
    max-width: 35rem;
    margin: 0 auto;
    z-index: 10;
  }

  h1 {
    margin: 0;
    padding: 4rem 0;
    line-height: 1.5em;
    font-size: inherit;
    color: inherit;
  }

  button {
    font-size: inherit;
    border: 0;
    border-bottom: 1px solid #193441;
    color: inherit;
    background-color: transparent;
    outline: none;
  }
}
